<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
      {{ include('includes/header.html.twig') }}
      <div id="content">
        <div class="container">
          {% for message in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% endfor %}
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </body>
</html>
